<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Resume</title>
      <meta charset="utf-8">
      <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
      <script src="./node_modules/jquery/dist/jquery.min.js"></script>
      <script src="./node_modules/angular/angular.min.js"></script>
      <script src="./node_modules/angular-animate/angular-animate.min.js"></script>
      <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script> 
      <script src="./script/search.js"></script>
      <script src="./script/selectAddress.js"></script>
      <style>
        .row {
                margin-top: 5px;
                margin-bottom: 15px;
              }
      </style>
      <nav class="navbar navbar-default" style="background-color:#337ab7">
        <a class="navbar-brand" href="#" style="color:aliceblue">简历管理</a>
      </nav>
  </head>
  <body>
      <div class='container' ng-app="myapp" ng-controller ="customerCtrl" ng-init="search()">  
          <form class="form-inline" role="form" style="line-height:5px">
              <div class="row">
                      <div class="form-group col-sm-4">
                              <label> 关键词:</label>
                              <select class="selectpicker" id="choosekey" style="width:53px;">
                                  <option title="职位" value="SF_1_1_3">职位</option>
                                  <option title="工作和项目经验" value="SF_1_1_47">工作和项目经验</option>
                                  <option title="全文" value="SF_1_1_4">全文</option>
                                  <option title="简历ID" value="SF_1_1_5">简历ID</option>
                                  <option title="邮箱" value="SF_1_1_6">邮箱</option>
                                  <option title="姓名" value="SF_1_1_7">姓名</option>                              
                              </select>
                              <input class="form-control" type="text" placeholder="请输入求职者任职的职位名称" value="" ng-model="resume.Position">                        
                      </div>
                      <div class="form-group col-sm-4">
                          <label>公司名称</label>
                          <input class="form-control" type="text" placeholder="请输入公司名称关键词" value="" ng-model=""> 
                      </div>
                      <div class="form-group col-sm-4">
                          <label>学校名称</label>
                          <input class="form-control" type="text" maxlength="200" placeholder="请输入学校名称关键词" value="">
                      </div>                                         
              </div>
              <div class="row">
                      <div class="form-group col-sm-4">
                          <label>现居住地</label>                 
                          <input class="form-control" ng-model="resume.Location">
                          <!-- <select-address></select-address> -->
                      </div>
                      <div class="form-group col-sm-4">
                          <label>学        历</label>
                          <select class="form-control">
                              <option value="" selected="">不限</option>
                              <option value="1">初中</option>
                              <option value="2">中技</option>
                              <option value="3">高中</option>
                              <option value="4">中专</option>
                              <option value="5">大专</option>
                              <option value="7">本科</option>
                              <option value="9">硕士</option>
                              <option value="11">MBA</option>
                              <option value="13">EMBA</option>
                              <option value="15">博士</option>
                              <option value="0">其它</option>
                          </select>  -
                          <select class="form-control">
                              <option value="13">EMBA</option>
                              <option value="15">博士</option>
                              <option value="16" selected="">及以上</option>
                          </select>
                       </div>
                       <div class="form-group col-sm-4">
                          <label class="search-item-name">职位类别</label>
                          <input class="form-control">
                       </div>
              </div>
              <div class="row">
                  <div class="form-group col-sm-4">
                          <label class="search-item-name">年        龄</label>
                          <input class="rd-input input-xsmall" type="text" min="0" max="100" value="" data-type="number" size="4">
                          -
                          <input class="rd-input input-xsmall" type="text" min="0" max="100" value="" data-type="number" size="4">  
                  </div>            
                  <div class="form-group col-sm-4">
                      <label>性        别</label>
                    <div class="radio">
                        <label><input type="radio" name="optionsRadios" checked="checked" value="">不限</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="optionsRadios" value="1">男</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="optionsRadios" value="2">女</label>
                    </div>                        
                  </div>
                  <button type="submit" class="btn btn-primary"  ng-click="search()">筛选简历</button>                                                     
              </div>
      </form>
          <div style="margin-top:50px">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading h4">
                  Resume Results
              </div>
        
              <!-- Table --> 
              <table class="table table-border">
              <tr>
                <th ng-click="criteria.sort = 'Name'; ">
                    简历名称      
                </th>
                <th ng-click="criteria.sort = 'City';">
                    职位名称
                </th>
                <th ng-click="criteria.sort = 'Country';">
                    学历
                </th>
                <th ng-click="criteria.sort = 'Name'; ">
                    性别      
                </th>
                <th ng-click="criteria.sort = 'City';">
                    年龄
                </th>
                <th ng-click="criteria.sort = 'Country';">
                    居住地
                </th>
                <th ng-click="criteria.sort = 'Country';">
                    毕业院校
                </th>
              </tr>
              <tr ng-repeat="customer in customers">
                <td ng-bind="customer.Name"></td>
                <td ng-bind="customer.Position"></td>
                <td ng-bind="customer.Scholar"></td>
                <td ng-bind="customer.Gender"></td>
                <td ng-bind="customer.Age"></td>
                <td ng-bind="customer.Location"></td>
                <td ng-bind="customer.Graduatedschool"></td>
              </tr>
            </table>
            </div>
          </div>
                                              
        <div class="row">
          <div class="pull-right">                               
            <ul class="pagination" >                           
              <li ng-class="{'active': item === criteria.page}" ng-repeat='item in paging.pagearray'>
        
                <a ng-if="item == 'Prev'" ng-click="Prev()">Prev</a>
        
                 <a ng-if="(!(item == 'Prev' || item == 'Next' ||  item == '..' || item == '...'))" 
                    ng-click="criteria.page = item;" >{{item}}</a>
        
                 <!-- No click event -->                                          
                 <a ng-if="(item == '..' || item == '...')" >{{item}}</a> 
        
                 <a ng-if="item == 'Next'" ng-click="Next()">Next</a>
              </li>
            </ul>
           </div>  
        </div>                                                             
            <!-- Dropdown Style -->  
            <div class="row" style="background-color:#337ab7; padding:7px; color:aliceblue">
                <div class="col-lg-6 ">                              
                    Showing: {{(criteria.page -1) * criteria.pagesize + 1}} - 
                             {{ ((criteria.page -1) * criteria.pagesize + paging.showing)}} 
                    of {{paging.total}} Records
                </div>   
                                                
                <div class="col-lg-6 ">  
                  <div class="pull-right">                           
                    Page: <input type='number' 
                                 ng-model='criteria.page'
                                 min="1"
                                 max="{{paging.totalpages}}"
                                 style='width:70px;color:#337ab7' />
                    of {{paging.totalpages}}
                    with page size <select ng-model="criteria.pagesize" ng-options="obj as obj for obj in paging.pagingOptions" style="color:#337ab7">  
                  </div>
                </div>
            </div>    
        
        </div>
  </body>
</html>