<style>
    .select-address {
        /* overflow: hidden; */
        position: absolute;
        left: 50%;
        z-index: 2147483647;
        transition:0.3s;
        box-shadow: 0 3px 12px rgba(0,0,0,.175);
        background: rgb(255, 255, 255); 
        /* display: none; */
    }

    .select-address-container ul {
        width: 480px;
        list-style: none;
        margin: 0px;
        padding: 10px;
    }
    .select-address-container ul span {
        font-size: 13px;
        list-style: none;
        display: inline-block;
        margin:10px 10px;
        cursor: pointer;
    }

    .select-address-container ul li {
        width: 240px;
        padding: 10px;
        display: table-cell;
        vertical-align: middle;
    }

    .select-address-container ul li:nth-child(even) {
        background: #eee;
    }

    .select-address-container ul li span {
        font-size: 13px;
        list-style: none;
        display: inline-block;
        margin:5px 7px;
        cursor: pointer;
    }

    .select-address-footer {
        border-top: 1px solid #eee;
        padding: 10px 15px;
        overflow: hidden;
    }

    .select-address-footer input {
        min-width: 50%;
    }
       
    .tableDiv{
            width:600px;
            min-height:400px;
            border:1px solid grey;
        }
        .tdDiv{
           display:inline-block;
           width:16%;
           height:40px;
           line-height:40px;
           text-indent:20px;
           cursor:pointer;
           color:#336699;
           background: url(imgs/QQ截图20171202150726.png) no-repeat 0px 12.5px;
           position: relative;
        }
        .toolTipDiv{
            width:400px;
            height:300px;
            border:1px solid red;
            display: none;
            overflow: hidden;

           

        }
        .cityDiv{
            display:inline-block;
           width:33.3%;
           height:40px;
           line-height:40px;
           text-indent:20px;
           cursor:pointer;
           color:#336699;
           border-left: 1px solid grey;
        }
</style>
<div class="select-address form-inline">
        <div class="select-address-container">
                <ul>
                    <div style="color:#337ab7;font-size:15px;margin-bottom: 10px" align="center">主要城市</div>
                    <span ng-repeat="item in mainCitys"
                    ng-click="setCity(item.mainCity)"
                    ng-class="{'label label-success': mainCity === item.mainCity}">
                        {{item.mainCity}}
                    </span> 
                </ul>
                <ul>
                    <div style="color:#337ab7;font-size:15px;margin-bottom: 10px" align="center">其他省市</div>
                    <ul class="tableDiv"></ul>
                </ul>
                
        </div>
        <div>
    
        </div>
        
        <div class="select-address-footer">
            <input class="form-control input-sm" type="text" placeholder="城市" ng-model="selected" />
            <span class="pull-right">
                    <button ng-click="clear()" class="btn btn-sm btn-link">清空</button>
                    <button ng-click="submit()" class="btn btn-sm btn-success" type="submit">确定</button>
            </span>
        </div>
</div>
